body {
    background-color: rgb(68, 90, 212);
    /* background-image: url(img/photo_2024-03-09_23-48-59.jpg);
    background-repeat: no-repeat; */
    
}
.top_img img {
    margin-left: 400px;
    height: 500px;
}
.yt_btn a {
   text-decoration: none;
   background-color: rgb(32, 184, 171); 
}
.yt_btn a {
  text-align: center;
  justify-content: center;
  display: flex;
  /* margin-top: 500px; */
  font-size: 30px;
  border-radius: 50px;
  border: solid 2px yellow;
  transition: 0.5s;
  color: #fff;
}
.yt_btn a:hover {
    background-color: red;
}

